* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Amaranth", sans-serif;
}

.header {
	width: 100%;
	min-height: 100vh;
	background-color: #9E826D;
	padding: 10px 10%;
	overflow: hidden;
	position: relative;	
}

h1 {
    font-family: "Pacifico", sans-serif;
}

html {
	padding: 0;
}

nav {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.logo {
	width: 140px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 15px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

nav ul li a {
	text-decoration: none;
	color: #333333;
	font-weight: 400;
}

.login-btn {
	text-decoration: none;
	color: #333333;
	margin-right: 15px;
	font-weight: 400;
}

.btn {
	display: inline-block;
	text-decoration: none;
	padding: 14px 40px;
	color: #ffffff;
	background-image: linear-gradient(45deg, #BD9B82, #C4916A);
	font-size: 14px;
	border-radius: 30px;
	border-top-right-radius: 0;
	transition: 0.5s;
}

.content {
	margin-top: 10%;
	max-width: 600px;
}

.content h1 {
	font-size: 70px;
	color: #222222;
}

.content p {
	margin: 10px 0 30px;
	color: #333333;
	animation-delay: 0.5s;
}

.content .btn {
	padding: 15px 80px;
	font-size: 16px;
	animation-delay: 0.5s;
}

.btn:hover {
	border-top-right-radius: 30px;

}

.feature-img {
	width: 540px;
	position: absolute;
	bottom: 0;
	right: 10%;
}

.feature-img .anim {
	animation-delay: 0.5s;
}

.anim {
	opacity: 0;
	transform: translateY(30px);
	animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.container, .container2, .container3{
    padding: 20px;
    justify-content: center;
    border-radius: 15px;
}

/* Optional specific heights */
.container { height: 900px; }
.container2 { height: 900px; }
.container2 { height: 900px; }

.dropdown {
  position: relative; 
  display: inline-block;
}

.dropbtn {
  background-color: #BD9B82;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #BD9B82;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}

.dropdown-content a:hover {
  background-color: #BD9B82;
}

.dropdown:hover .dropdown-content {
  display: block; 
}

.dropdown:hover .dropbtn {
  background-color: #BD9B82;
}

@font-face {
  font-display: swap;
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/amaranth-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/arvo-v23-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/pacifico-v23-latin-regular.woff2') format('woff2');
}